    * {
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    }

    .main-container {
        background-color: rgba(0, 0, 0, 0.441);
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin: 5rem auto;
        padding: 2rem;
        border-radius: 2rem;
    }

    h1 {
        text-align: center;
    }

    .hero-image img {
        width: 26.5rem;
        height: auto;
        border-radius: 1rem;
    }

    .grid {
        display: grid;
    }

    .grid-two--cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        background-color: white;
        width: 23rem;
        height: auto;
        padding: 2rem;
        border-radius: 2rem;
    }

    form {
        margin: 2rem 0 1rem 0;
    }

    form select,
    input,
    button {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 0.75rem;
    }

    input {
        border: 1px solid gray;
        padding-left: 0.5rem;
        font-size: 1rem;
        height: 3rem;
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .dropdown i {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .select-container img {
        max-width: 2rem;
        margin-left: 0.3rem;
    }

    .select-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 0.5rem;
    }

    .select-container select {
        font-size: 1rem;
        width: auto;
    }

    .msg {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    form button {
        background-color: purple;
        color: white;
        font-size: 1rem;
        height: 3rem;
        margin-top: 2rem;
        cursor: pointer;
    }


    @media(width < 550px) {
        .grid-two--cols {
            grid-template-columns: 1fr;
        }

        .main-container {
            background-color: rgba(0, 0, 0, 0.441);
            width: 400px;
            height: 40rem;
            border-radius: 2rem;
            margin-top: 1rem;
        }

        .hero-image img {
            width: 18rem;
            height: auto;
            border-radius: 1rem;
            margin-top: -1rem;
            margin-left: 3rem;
        }

        .container {
            background-color: white;
            width: 16rem;
            height: 18rem;
            padding: 2rem;
            border-radius: 2rem;
            margin-left: 2rem;
            margin-top: -2rem;
        }

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        form button {
            background-color: purple;
            color: white;
            font-size: 1rem;
            height: 2.5rem;
            margin-top: 2rem;
            cursor: pointer;
            margin-top: 8px;
        }

        .dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5rem;
        }
        input {
            border: 1px solid gray;
            padding-left: 0.5rem;
            font-size: 1rem;
            height: 2rem;
            margin-top: 0.5rem;
        }
        .msg {
            font-size: 1.3rem;
            margin-top: 1rem;
        }
        

    }